li.signin{
    background: #1a73e8;
    font-size: 14px;
    color: #fff;
    text-align: center;
    min-width: 96px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid;
    cursor: pointer;
    padding-bottom: 9px;
    padding-top: 9px;
    text-decoration-style: solid;
    border-image-slice: 100%;
}
li.signin:hover{
    background: #4285f4;
}
.apps{
    height: 24px;
    width: 24px;
    cursor: pointer;
    padding-right: 20px;
    padding-top: 5px;
    padding-left: 20px;
}
.google-logo{
    display: block;
    margin: auto;
    background:white;
    margin-top: 150px;
}
.searchBox{
    background:#fff;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    width: auto;
    margin:auto;
    margin-top: 25px;
    padding-left: 14px;
    max-width: 584px;
    height: 44px;
    font-family: arial, sans-serif;
}
.searchBox:hover{
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}
.search-txt{
    border:none;
    background:#fff;
    outline: none;
    float: left;
    padding: 0;
    margin-left: 25px;
    font-size: 18px;
    line-height: 44px;
    width: 500px;
    color: black;
}
.search-button{
    color:#9aa0a6;
    float: left;
    line-height: 44px;
}
.mic{
    line-height: 44px;
    cursor: pointer;
    height: 20px;
    width: 20x;
    margin: auto;
    display: block;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display: block;
    color: #222;
    margin-left: 12px;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    padding-top: 10px;
}

li a:hover{
    text-decoration-line: underline;
}
.search{
    display: flex-start;
    appearance: auto;
    background-color: rgb(284, 249, 250);
    border-bottom-color: rgb(284, 249, 250);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(284, 249, 250);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color:rgb(284, 249, 250);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(284, 249, 250);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(60, 64, 67);
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    line-height: 27px;
    margin-bottom: 11px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 11px;
    height: 36px;
    letter-spacing: normal;
    min-width: 54px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0px;
    text-align: center;
    white-space: pre;

}
.lucky{
    display: flex-start;
    appearance: auto;
    background-color: rgb(284, 249, 250);
    border-bottom-color: rgb(284, 249, 250);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(284, 249, 250);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color:rgb(284, 249, 250);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(284, 249, 250);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(60, 64, 67);
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    line-height: 27px;
    margin-bottom: 11px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 11px;
    height: 36px;
    letter-spacing: normal;
    min-width: 54px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0px;
    text-align: center;
    white-space: pre;
    
}
.buttons{
    height: 70px;
    padding-top: 18px;
    top: 53px;
    z-index: 0;
    display: block;
    font-family: arial, sans-serif;
    width:300px;
    margin-left: 380px;
}
.search:hover{
    box-shadow:0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.lucky:hover{
    box-shadow:0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.footer{
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    height: 47px;
}
.footerbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    order: 1;
    min-width: 30%;
}
.bottomleft{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 30%;
    color: rgb(34, 34, 34);
}
.bottomright{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 30%;
    color: rgb(34, 34, 34);
}
.footerlink{
    color: rgb(112, 117, 122);
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    white-space: nowrap;
}
.footerlink:hover{
    color: rgb(112, 117, 122);
    cursor: pointer;
    display: block;
    text-decoration-line: underline;
    white-space: nowrap;
}